:root {
    --primary: #0040a1;
    --primary-container: #0056d2;
    --secondary: #4c6454;
    --secondary-container: #cee9d5;
    --tertiary: #81272b;
    --tertiary-container: #a03e40;
    --surface: #f8f9fa;
    --on-surface: #191c1d;
    --outline: #737785;
    --bg-slate-50: #f8fafc;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--surface);
    color: var(--on-surface);
    line-height: 1.5;
}