.tip-box i { color: var(--secondary); }
.tip-content h5 { font-size: 12px; font-weight: 700; margin-bottom: 4px; }
.tip-content p { font-size: 13px; color: var(--secondary); }

.breadcrumb {
    margin-bottom: 32px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #94a3b8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumb .active { color: var(--primary); }